<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale:1.0">
	<title>SentiMarathi</title>
	<link rel="shortcut icon" type="image/jpg" href="../static/images/favicon.png"/>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../static/css/log_reg.css">
</head>
<body>
	<div class="main">
		<div class="card">
			<div class="card-title">
				<h3><i class="fa fa-user-circle-o" aria-hidden="true"></i> User <span id="action_title">Login</span></h3>
				{%if(err_flag == True):%}
				<h3>The Username is already taken!</h3>
				{%elif(err_flag_pass == True):%}
				<h3>The Password is Incorrect!</h3>
				{%elif(err_flag_unf == True):%}
				<h3>The Username is not found!</h3>
				{% endif %}
			</div>
			<div class="card-body">
				<div class="card-body-top">
					<button id="login" class="btn" name="login" onclick="login()">Login</button>
					<button id="register" class="btn" name="register" onclick="register()">Register</button>
					<div id="pointer-btn"></div>
				</div>
				<div class="card-body-login">
					<form id="login-form" method="post" action="/login">
						<input class="input-form" type="text" name="uname" id="uname" placeholder="Enter your username" required><br><br>
						<input class="input-form" type="password" name="pass" id="pass" placeholder="Enter your password" required><br><br><br>
						<button type="submit" class="submit-form" name="loginp">Log In</button>	
					</form>
					<form id="register-form" method="post" action="/register" >
					   
						<input class="input-form" type="text" name="uname" id="uname" placeholder="Enter your username" required><br><br>
						<input class="input-form" type="email" name = "email" id="email" placeholder="Enter your email" required><br><br>
						<input class="input-form" type="password" name="pass" id="pass" placeholder="Enter your password" required><br><br>
						
						<button type="submit" class="submit-form" name="signup">Register</button><br>
					</form>
				</div>
			</div>
		</div>
	</div>

	<script>
		var x = document.getElementById("login-form");
		var y = document.getElementById("register-form");
		var z = document.getElementById("pointer-btn");
		var l = document.getElementById("login");
		var r = document.getElementById("register");
		var ac = document.getElementById("action_title");

		function register(){
			x.style.left = "-450px";
			y.style.left = "25px";
			z.style.left = "215px";
			l.style.color = "#848484";
			r.style.color = "#00ffc3";
			ac.textContent = "Register";
		}

		function login(){
			x.style.left = "25px";
			y.style.left = "450px";
			z.style.left = "30px";
			l.style.color = "#00ffc3";
			r.style.color = "#848484";
			ac.textContent = "Login";
		}
	</script>
</body>
</html>